.MainPanel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.MainPanel-center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: auto;
    overflow: visible;
}

.MainPanel-canvas {
    position: absolute;
    vertical-align: top;
}
